#clusterpanel {

	width: 202px;
    height: 502px;
    margin-bottom: 25px;
    margin-top: 100px;
    float: right;
}

.sos li{

   list-style: none;

   height: 50px;

   line-height: 50px;

   border-bottom: 1px dashed gray;

   text-indent: 19px;

   font-size: 15px;

}

.panel-body {
	padding-bottom: 0px;padding-top: 0px;
}

#bnIncluster {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.recc {
  transition: stroke 190ms, stroke-width 170ms;
  transition-timing-function: ease-out;
  paint-order: stroke fill
}